/* YOUR CUSTOM STYLES */
header#masthead {
  width: calc(100% - 160px);
  margin: 0 auto; }

#left-sidebar {
  background-color: #004672;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 80px; }
  #left-sidebar #left-sidebar-bottom {
    position: absolute;
    bottom: 0; }
  #left-sidebar button.standard {
    width: 80px;
    height: 80px;
    background-color: #004672;
    border: 0px solid #fff;
    color: #fff;
    font-size: 1.5em;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }
    #left-sidebar button.standard p {
      font-size: 0.4em;
      text-transform: uppercase;
      color: #fff;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  #left-sidebar button.standard:hover {
    background-color: #398BBE;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s; }

.content {
  width: calc(100% - 160px);
  margin: 0 auto; }

.content-hidden {
  display: none; }

#rollcall-list h3.country {
  font-size: 1.25em; }
#rollcall-list button.rollcall-standard {
  border: 1px solid #004672;
  background-color: #fff;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px; }
#rollcall-list button.rollcall-filled {
  background-color: #004672; }
