/* YOUR CUSTOM STYLES */
header#masthead {
  width: calc(100% - 160px);
  margin: 0 auto; }

#left-sidebar {
  background-color: #004672;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 80px; }
  #left-sidebar #left-sidebar-bottom {
    position: absolute;
    bottom: 0; }
  #left-sidebar button.standard {
    width: 80px;
    height: 80px;
    background-color: #004672;
    border: 0px solid #fff; }
    #left-sidebar button.standard i {
      color: #fff; }
    #left-sidebar button.standard p {
      font-size: 0.5em;
      text-transform: uppercase;
      color: #fff; }

#content {
  width: calc(100% - 160px);
  margin: 0 auto; }
