#left-sidebar {
  background-color: $darkblue;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  width: 80px;

  #left-sidebar-bottom {
    position: absolute;
    bottom: 0;
  }

  button.standard {
    width: 80px;
    height: 80px;
    background-color: $darkblue;
    border: 0px solid $white;
    p {
      font-size: 0.5em;
      text-transform: uppercase;
      color: $white;
    }
  }
}

#content {
  width: calc(100% - 160px);
  margin: 0 auto;
}
